name: SwarrotExtensionBundle CI

on: [push]

jobs:
  continuous_integration:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        symfony_version: [6.4.*]
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get Composer Cache Directory
        run: echo "COMPOSER_CACHE_FILES_DIR=$(composer config cache-files-dir)" >> $GITHUB_ENV

      - name: Configure cache
        uses: actions/cache@v4
        with:
          path: $COMPOSER_CACHE_FILES_DIR
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Composer install dependencies
        run: |
          composer self-update
          composer require symfony/framework-bundle:${{ matrix.symfony_version }} --no-update
          COMPOSER_MEMORY_LIMIT=-1 composer update --no-interaction --prefer-dist

      - name: Run lint
        run: |
          #php ./vendor/bin/phpmd . text phpmd.xml --suffixes php
          #php ./vendor/bin/phpcs --standard=phpcs.xml --extensions=php  .

      - name: Run test
        run: |
          composer validate --strict --no-check-lock
          ./vendor/bin/phpunit
